body {
    background-color: bisque;
    color:rgb(59, 47, 32);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 57px;
}

.playing-buttons {
    width: 200px;
    height: 90px;
    font-size: 30px;
    background-color: rgb(27, 27, 59);
    color:bisque;
    border-radius: 10px;
    border: none;
    letter-spacing: 3px;
}

#instruction {
    font-size: 2em;
}

#rps {
    display: flex;
    gap: 2vw;
}

#start-game {
    background-color: brown;
    color: white;
    width: 300px;
    height: 120px;
    font-size: 48px;
    letter-spacing: 15px;
    border-radius: 19px;
    border-style: none;
    font-weight: 700;
}

#display-result {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
}

#scores {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    font-size: 25px;
}